<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
</head>

<body>
    <h1>Add product</h1>
    <%if (typeof success !== 'undefined') { %>
        <h3>product added</h3><br>
    <% } %>
    <%if (typeof errormsg !== 'undefined') { %>
        <h3><%= errormsg %></h3><br>
    <% } %>
    <form method="POST">
        <label for="title">Title :</label><br>
        <input type="text" id="title" name="title"><br><br>

        <label for="price">Price :</label><br>
        <input type="text" id="price" name="price"><br><br>

        <label for="description">Description :</label><br>
        <input type="text" id="description" name="description"><br><br>

        <label for="category">Category :</label><br>
        <input type="text" id="category" name="category"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>