<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form method="POST">
        <%if (typeof login !== 'undefined') { %>
            <span><%= login.message %></span><br>
        <% } %>
        <label for="login">Login:</label><br>
        <input type="text" id="login" name="login"><br><br>
        <%if (typeof email !== 'undefined') { %>
            <span><%= email.message %></span><br>
        <% } %>
        <label for="email">Email :</label><br>
        <input type="text" id="email" name="email"><br><br>
        <%if (typeof password !== 'undefined') { %>
            <span><%= password.message %></span><br>
        <% } %>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <%if (typeof errorPassword !== 'undefined') { %>
            <span><%= errorPassword %></span><br>
        <% } %>
        <label for="confirmpw">Confirm password:</label><br>
        <input type="password" id="confirmpw" name="confirmpw"><br><br>

        <input type="submit" value="Submit">
    </form>

</body>

</html>